[mysqld]
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_do_db=rpc_auth
binlog_do_db=rpc_spreadsheet
binlog_do_db=rpc_file
binlog_do_db=rpc_tx_log
expire_logs_days=7
max_binlog_size=256M
sync_binlog=1
innodb_flush_log_at_trx_commit=1
